.scrollable-content {
  max-height: 800px;
  display: block;
  overflow: auto;
}

.scrollable-content::-webkit-scrollbar {
  display: none;
}

.example-chip-list {
  width: 500px;
  height: 80px;
}

.mat-simple-snackbar-action .mat-button {
  background-color: rgb(72, 236, 39) !important;
}

.success-dialog {
  color: white !important;
  background-color: rgb(72, 236, 39) !important;

  .mat-simple-snackbar-action {
    color: white !important;
  }
}
