<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto ">
    <div class="p-5">
        <button>
            <span class="inline-flex items-center"
                [routerLink]="['../']">
                <mat-icon class="ml-1.5 icon-size-5"
                    [svgIcon]="'heroicons_solid:arrow-sm-left'"></mat-icon>
                <ng-container>
                    <span>Back To Circular Setting</span>
                </ng-container>
            </span>
        </button>
    </div>

    <div class="relative flex justify-center py-2 px-2 overflow-hidden"
        style="background: rgba(74, 102, 203, 0.25) !important;">
        <div class="flex flex-row items-start">
            <div class="flex justify-center items-center">
                <img [src]="imageSrc"
                    class="object-scale-down rounded-full"
                    style="width: 60px; height: 60px;">
            </div>
            <div class="flex flex-col items-start">
                <div class="mt-1 text-3xl sm:text-2xl font-extrabold tracking-tight leading-tight text-center"
                    *ngIf="Circular_SingleCircular?.ClientName">
                    {{Circular_SingleCircular.ClientName}}
                </div>
                <div class="max-w-2xl mt-1 sm:text-1xl text-center tracking-tight italic"
                    *ngIf="Circular_SingleCircular?.CircularTitle">
                    {{Circular_SingleCircular.CircularTitle}}
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col flex-0 lg:flex-row justify justify-between items-center w-full mx-auto px-8 lg:h-18 bg-card text-white"
        style="background: #161B2E !important;">

        <div class="items-center space-x-6"
            *ngIf="Circular_SingleCircular != null">
            <a class="font-medium space-x-2">
                <b>Circular Open Date:</b> {{Circular_SingleCircular.CircularOpenDate | date}}
            </a>
            <a class="font-medium space-x-2">
                <b>Circular Close Date:</b> {{Circular_SingleCircular.CircularCloseDate | date}}
            </a>
            <a class="font-medium space-x-2">
                <b>Total Applied:</b> {{Circular_SingleCircular.TotalApplied}}
            </a>
            <a class="font-medium space-x-2">
                <b>Total Amount:</b> {{Circular_SingleCircular.TotalAmount | currency:'BDT'}}
            </a>
        </div>

        <button mat-stroked-button
            [matMenuTriggerFor]="menu"
            style="background-color: white !important; color: black;"
            *ngIf="Circular_SingleCircular != null">
            <span class="inline-flex items-center font-medium">
                <ng-container>
                    <span>Action</span>
                </ng-container>
                <mat-icon>reorder</mat-icon>
            </span>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item
                (click)="openClassSetup(Circular_SingleCircular, 'multi', 'setup')">
                <mat-icon>settings</mat-icon>
                <span class="text-base">Class Setup</span>
            </button>
            <button mat-menu-item
                (click)="openConfigureDownloads(Circular_SingleCircular)">
                <mat-icon>settings</mat-icon>
                <span class="text-base">Configure Downloads</span>
            </button>
            <button *ngIf="Circular_CircularDetails != null && Circular_CircularDetails.length!=0"
                mat-menu-item
                (click)="openExamCodeModal(Circular_SingleCircular)">
                <mat-icon>settings</mat-icon>
                <span class="text-base">Previous Academic Info Setup</span>
            </button>
            <button mat-menu-item
                (click)="DownloadSummaryReport()">
                <mat-icon>arrow_downward</mat-icon>
                <span class="text-base">Summary Report</span>
            </button>
            <button mat-menu-item
                (click)="DownloadLotteryToken()">
                <mat-icon>arrow_downward</mat-icon>
                <span class="text-base">Lottery Token</span>
            </button>
            <!-- <button mat-menu-item>
                <mat-icon>arrow_downward</mat-icon>
                <span class="text-base">Admit Card</span>
            </button> -->
            <button mat-menu-item
                (click)="downloadTemplate('true')">
                <mat-icon>arrow_downward</mat-icon>
                <span class="text-base">Applied Candidates Excel</span>
            </button>
            <button mat-menu-item
                (click)="downloadTemplate('false')">
                <mat-icon>arrow_downward</mat-icon>
                <span class="text-base">Applied All Candidates Excel</span>
            </button>
            <button mat-menu-item
                (click)="DownloadBulkImage()">
                <mat-icon>arrow_downward</mat-icon>
                <span class="text-base">Download Candidates Image</span>
            </button>
            <!-- <button mat-menu-item
                disabled>
                <mat-icon>email</mat-icon>
                <span class="text-base">Email Daily Report</span>
            </button>
            <button mat-menu-item>
                <mat-icon>delete_forever</mat-icon>
                <span class="text-base">Delete All</span>
            </button> -->
        </mat-menu>

    </div>

    <div class="flex flex-auto overflow-hidden">

        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container>
                <ng-container>
                    <div class="grid">

                        <ng-container *ngIf="Circular_CircularDetails">
                            <ng-container *ngFor="let circularDetail of Circular_CircularDetails">
                                <div class="grid grid-cols-6 items-center gap-4 py-3 px-6 md:px-8 border-b">

                                    <div>
                                        <button class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                            mat-stroked-button
                                            (click)="toggleProgramCircular()">
                                            <mat-icon class="icon-size-5"
                                                [svgIcon]="programCircular ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'">
                                            </mat-icon>
                                        </button>
                                    </div>

                                    <div class="hidden md:block truncate">
                                        <span class="font-bold ml-0 pl-0">Class:</span><span
                                            class="to-blue-900 !important">{{circularDetail.ProgramName}}</span>
                                    </div>

                                    <div class="hidden md:block truncate">
                                        <span class="font-bold">Session:</span><span
                                            class="to-blue-900 !important">{{circularDetail.SessionName}}</span>
                                    </div>

                                    <div class="hidden md:block truncate">
                                        <span class="font-bold">Applied Amount:</span><span
                                            class="to-blue-900 !important">---</span>
                                    </div>

                                    <div class="hidden md:block truncate">
                                        <span class="font-bold">Active:</span><span
                                            class="to-blue-900 !important">{{circularDetail.ActiveStatus == true ?
                                            'Yes' : 'No'}}</span>
                                    </div>

                                    <div class="flex flex-row justify-center items-center">
                                        <div>
                                            <span class="font-bold">Roll Start: {{circularDetail.RangeFrom != null ?
                                                circularDetail.RangeFrom : '--'}}</span>
                                        </div>
                                        <div>
                                            <button mat-icon-button
                                                (click)="openRollConfigure(circularDetail.CircularId,circularDetail.ProgramId,circularDetail.RangeFrom)">
                                                <mat-icon [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                            </button>
                                        </div>
                                        <!-- <span class="to-blue-900 !important">---</span> -->
                                    </div>

                                </div>
                                <div *ngIf="programCircular">

                                    <div class="flex flex-col flex-auto mt-2 overflow-x-auto bg-card">
                                        <table class="custom-table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <mat-checkbox class="example-margin"
                                                            [(ngModel)]="allChecked"
                                                            (change)="checkAll()"></mat-checkbox>
                                                    </th>
                                                    <th>Shift</th>
                                                    <th>Version</th>
                                                    <th>Group</th>
                                                    <th>Category</th>
                                                    <th>Applied</th>
                                                    <th>Applied Amount</th>
                                                    <th>Form Amount</th>
                                                    <th>Status</th>
                                                    <th>Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container
                                                    *ngFor="let programCircularDetail of circularDetail.ProgramCircularDetails">
                                                    <ng-container
                                                        *ngIf="circularDetail.ProgramId == programCircularDetail.ProgramId">
                                                        <tr>
                                                            <td>
                                                                <mat-checkbox class="example-margin"
                                                                    [(ngModel)]="programCircularDetail.isChecked"></mat-checkbox>
                                                            </td>
                                                            <td>{{ programCircularDetail.ShiftName }}</td>
                                                            <td>{{ programCircularDetail.VersionName }}</td>
                                                            <td>{{ programCircularDetail.GroupName }}</td>
                                                            <td>{{ programCircularDetail.StudentCategory }}</td>
                                                            <td>{{ programCircularDetail.TotalApplied }}</td>
                                                            <td>{{ programCircularDetail.AppliedAmount }}</td>
                                                            <td>{{ programCircularDetail.FormAmount }}</td>
                                                            <td>
                                                                <div class="hidden lg:block">
                                                                    <ng-container
                                                                        *ngIf="programCircularDetail.ActiveStatus == true">
                                                                        <mat-icon class="text-green-400 icon-size-5"
                                                                            [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                                                    </ng-container>
                                                                    <ng-container
                                                                        *ngIf="!programCircularDetail.ActiveStatus">
                                                                        <mat-icon class="text-gray-400 icon-size-5"
                                                                            [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                                                    </ng-container>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <button [matMenuTriggerFor]="menuDetails">
                                                                    <mat-icon>reorder</mat-icon>
                                                                </button>
                                                                <mat-menu #menuDetails="matMenu">
                                                                    <button mat-menu-item
                                                                        (click)="programCircularDetail.TotalApplied == null || programCircularDetail.TotalApplied == 0 ? openClassSetup(programCircularDetail,'single', 'update') : AlreadyApplied()">
                                                                        <span class="text-base">Update</span>
                                                                    </button>
                                                                    <button mat-menu-item
                                                                        (click)="openClassSetup(programCircularDetail,'single', 'duplicate')">
                                                                        <span class="text-base">Duplicate</span>
                                                                    </button>
                                                                    <button mat-menu-item
                                                                        (click)="ConfirmDeleteCircular(programCircularDetail.Id)">
                                                                        <span class="text-base">Delete</span>
                                                                    </button>
                                                                    <button mat-menu-item
                                                                        (click)="ConfirmStatusChangeCircular(programCircularDetail.Id, programCircularDetail.ActiveStatus)">
                                                                        <span class="text-base">{{programCircularDetail.ActiveStatus ? "Make Inactive" : "Make Active"}}</span>
                                                                    </button>
                                                                </mat-menu>
                                                            </td>
                                                        </tr>
                                                    </ng-container>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </ng-container>
                        </ng-container>

                        <ng-container *ngIf="foundError">
                            <div class="p-4 bg-red-100 rounded-md">
                                <p class="font-bold text-red-500 mb-2">Error fetching circular details</p>
                                <p>Please try again later.</p>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="fetchingData">
                            <div class="p-4 bg-gray-100 rounded-md">
                                <p class="font-bold mb-2">Fetching data...</p>
                                <div class="loader"></div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>

            <footer>
                <mat-paginator [length]="25"
                    [pageSizeOptions]="[10, 20, 25]"
                    aria-label="Select page"
                    [pageSize]="10"
                    #paginator
                    class="flex justify-center"></mat-paginator>
            </footer>
        </div>
    </div>
</div>
