<div class="flex flex-col flex-auto min-w-0">

    <div class="flex-auto p-6 sm:p-10">

        <div class="w-full max-w-screen-xl mx-auto">

            <!-- <div class="mb-10 flex items-start justify-center">
                <div class="text-4xl font-extrabold tracking-tight leading-none">
                    Download your admin card here
                </div>
                <div class="flex flex-col items-center sm:items-start mb-8 sm:mb-0">
                    <button class="px-8 ml-10"
                        mat-flat-button
                        [color]="'primary'"
                        type="button"
                        (click)="Download_ac()">
                        Download
                    </button>
                </div>
            </div> -->

            <div *ngIf="IsError && ErrorMessage && OrderId && PaymentStatus"
                class="flex flex-row justify-center items-center">
                <img *ngIf="PaymentStatus==2,"
                    class="m-12"
                    style="width: 10%; height: 10%;"
                    src="assets/images/success.png">
                <img *ngIf="PaymentStatus!=2"
                    class="m-12"
                    style="width: 10%; height: 10%;"
                    src="assets/images/failed.png">
                <div class="flex flex-col justify-center items-start">
                    <h2 *ngIf="PaymentStatus==2"
                        class="text-4xl font-extrabold"
                        style="color: #29793C;">Congrtulation! &nbsp;</h2>
                    <h2 *ngIf="PaymentStatus!=2"
                        class="text-4xl font-extrabold"
                        style="color: red;">Sorry! &nbsp;</h2>
                    <p *ngIf="PaymentStatus==2"
                        class="mb-4 text-lg font-normal"
                        style="color: #29793C;">Your payment was successfull!</p>
                    <p *ngIf="PaymentStatus==3"
                        class="mb-4 text-lg font-normal"
                        style="color: red;">Your payment was cancelled</p>
                    <p *ngIf="PaymentStatus==4"
                        class="mb-4 text-lg font-normal"
                        style="color: red;">Your payment has failed. Error detail: {{ErrorMessage}}</p>
                    <p *ngIf="PaymentStatus==5"
                        class="mb-4 text-lg font-normal"
                        style="color: red;">There was an error</p>
                    <p *ngIf="PaymentStatus==6"
                        class="mb-4 text-lg font-normal"
                        style="color: red;">Your payment was cancelled by system</p>
                    <p *ngIf="PaymentStatus==7"
                        class="mb-4 text-lg font-normal"
                        style="color: red;">Your payment was cancelled by operator</p>
                    <p *ngIf="PaymentStatus==8"
                        class="mb-4 text-lg font-normal"
                        style="color: red;">Your payment was cancelled by customer request</p>
                </div>

            </div>

            <div *ngIf="OrderId"
                class="flex flex-row justify-center items-center overflow-auto p-6 print:overflow-visible"
                cdkScrollable>
                <table *ngIf="TranStatus == 2"
                    class="w-full  sm:w-2/4">
                    <thead>
                        <tr class="my-tr">
                            <th class="my-th text-left">SL</th>
                            <th class="my-th text-left">Type</th>
                            <th class="my-th text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="my-tr"
                            *ngFor="let data of TypeList; let i=index">
                            <td class="my-th">{{i+1}}</td>
                            <td class="my-th">{{data.type}}</td>
                            <td class="my-th flex items-center justify-center">
                                <div class="flex items-center justify-center">
                                    <button class="mr-4 ml-4"
                                        style="background-color: #418B41;"
                                        mat-flat-button
                                        (click)="executeFunction(data.actionName)"
                                        [color]="'accent'">
                                        <span>Download</span>
                                    </button>
                                    <!-- <a class="flex items-center justify-center hover:underline mt-1"
                                        (click)="executeFunction(data.actionName)">
                                        <span class="items-center">
                                            <mat-icon class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:cloud-download'"></mat-icon>
                                        </span>
                                    </a> -->
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="TranStatus == null"
                    class="flex flex-col"
                    style="display:flex; justify-content: center; align-items: center;">
                    <mat-spinner>Fetching Data ...</mat-spinner><br><span>Fetching Data...</span>
                </div>

                <div *ngIf="TranStatus != null && TranStatus != 2"
                    style="display:flex; justify-content: center; align-items: center;">
                    <h2 class="font-extrabold"
                        style="color: black !important; font-size: large !important;">You Dont Have Any Download
                        Permissions (From Payment Gateway).</h2>
                </div>

            </div>

            <div *ngIf="!OrderId"
                class="flex flex-row justify-center items-center overflow-auto p-6 print:overflow-visible"
                cdkScrollable>
                <table *ngIf="fetchingDlPermission == false && TypeList2.length > 0"
                    class="w-full  sm:w-2/4">
                    <thead>
                        <tr class="my-tr">
                            <th class="my-th text-left">SL</th>
                            <th class="my-th text-left">Type</th>
                            <th class="my-th text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="my-tr"
                            *ngFor="let data of TypeList2; let i=index">
                            <td class="my-th">{{i+1}}</td>
                            <td class="my-th">{{data.type}}</td>
                            <td class="my-th flex items-center justify-center">
                                <div class="flex items-center justify-center">
                                    <button class="mr-4 ml-4"
                                        style="background-color: #418B41;"
                                        mat-flat-button
                                        (click)="executeFunction(data.actionName)"
                                        [color]="'accent'">
                                        <span>Download</span>
                                    </button>
                                    <!-- <a class="flex items-center justify-center hover:underline mt-1"
                                    (click)="executeFunction(data.actionName)">
                                    <span class="items-center">
                                        <mat-icon class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:cloud-download'"></mat-icon>
                                    </span>
                                </a> -->
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="fetchingDlPermission"
                    class="flex flex-col"
                    style="display:flex; justify-content: center; align-items: center;">
                    <mat-spinner>Fetching Data ...</mat-spinner><br><span>Fetching Data...</span>
                </div>

                <div *ngIf="fetchingDlPermission == false && TypeList2.length == 0"
                    style="display:flex; justify-content: center; align-items: center;">
                    <h2 class="font-extrabold"
                        style="color: black !important; font-size: large !important;">You Dont Have Any Download
                        Permissions.</h2>
                </div>

            </div>

        </div>
    </div>

</div>
