<!-- @format -->

<section class="text-black body-font overflow-hidden w-full h-full">
  <landing-banner data="About Us"></landing-banner>
  <div class="container px-4 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap space-x-3">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h1
          class="mt-2 text-2xl sm:text-7xl font-extrabold tracking-tight leading-tight mb-5"
        >
          ABOUT VortiBD.COM
        </h1>
        <p class="mb-8 leading-relaxed font-lg">
          VortiBD.com is a convenient and useful platform where a candidate can
          apply for admission to VortiBD registered educational institute by
          creating a single account. <br />
          <br />
          This sign up process is easy, anybody can open an account in a minute
          free of cost. Through VortiBD.com one can apply for admission every
          year during the admission period. <br />
          <br />
          Any aspiring School / College / Madrasha / University / Education
          Institute can register here free of cost to maintain their online
          application and admission system. A dedicated team of VortiBD.com is
          always ready to extend cooperation for any institute interesred to
          digitalize and ease their end to end admission process.
        </p>
      </div>
      <div class="lg:max-w-lg lg:flex-grow md:w-1/2 w-5/6 pl-5">
        <img
          class="object-cover object-center rounded"
          alt=""
          src="assets/images/logo/vortibd.jpg"
        />
      </div>
    </div>
  </div>
</section>
