<!-- @format -->

<section class="text-black body-font overflow-hidden w-full h-full">
  <landing-banner data="Contact Us"></landing-banner>
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <iframe class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
        src="https://maps.google.com/maps?q=%E0%A6%A6%E0%A7%87%E0%A6%B6%20%E0%A6%87%E0%A6%89%E0%A6%A8%E0%A6%BF%E0%A6%AD%E0%A6%BE%E0%A6%B0%E0%A7%8D%E0%A6%B8%E0%A6%BE%E0%A6%B2%20%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%BE%E0%A6%87%E0%A6%AD%E0%A7%87%E0%A6%9F%20%E0%A6%B2%E0%A6%BF%E0%A6%AE%E0%A6%BF%E0%A6%9F%E0%A7%87%E0%A6%A1&t=&z=17&ie=UTF8&iwloc=&output=embed"></iframe>
      <div class="lg:w-1/2 lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h1 class="mt-2 text-2xl sm:text-7xl font-extrabold tracking-tight leading-tight mb-5 underline">
          Contact Info
        </h1>
        <div class="mb-8 leading-loose font-lg">
          <span class="font-bold">Phone:</span> 09643 224488<br />
          <span class="font-bold">Email:</span> support@vortibd.com
          <hr class="w-3/4 border-l" />
          As-Salam Tower (Level 5), <br />
          82-83, Zoo Road, Block-A, Section-2, <br />
          Mirpur, Dhaka-1216, Bangladesh
        </div>
      </div>
    </div>
  </div>
</section>
