<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent">
        <mat-drawer-content class="flex flex-col bg-gray-100 dark:bg-transparent">

            <div class="flex flex-col flex-auto p-6 md:p-8">

                <div class="flex items-center pb-10">
                    <div class="flex items-center flex-auto">

                        <mat-form-field
                            class="fuse-mat-rounded fuse-mat-dense fuse-mat-no-subscript flex-auto ml-4 lg:ml-0 max-w-100">
                            <mat-select (selectionChange)="circularInstituteChange($event)"
                                [formControl]="circularInstitutionControl" placeholder="--Select Institute--">
                                <mat-option *ngFor="let Institute of institutes" [value]="Institute.value">
                                    {{Institute.name.split("~")[0]}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <button class="ml-4 px-1 sm:px-4 min-w-10" mat-flat-button [color]="'primary'"
                            [matMenuTriggerFor]="menu">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                            <span class="hidden sm:inline-block ml-2">New Circular</span>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openJobDialog()">
                                <mat-icon>book</mat-icon>
                                <span class="text-base">Job Circular</span>
                            </button>
                            <button mat-menu-item disabled>
                                <mat-icon>school</mat-icon>
                                <span class="text-base">Registration</span>
                            </button>
                        </mat-menu>
                    </div>
                    <mat-slide-toggle class="ml-4 px-1 sm:px-4 min-w-10" [formControl]="listInactiveToggle"
                        (change)="onListInactiveToggle($event)" [color]="'primary'">
                        Show Inactive
                    </mat-slide-toggle>
                </div>

                <!-- Show circulars data only when an institute is selected -->
                <div *ngIf="circularShownFields.length != 0">

                    <div *ngFor="let circular of circularShownFields">
                        <div class="mb-4 flex flex-col p-6 bg-card rounded-2xl shadow overflow-hidden circular-card">

                            <div class="w-full">
                                <div class="flex flex-col sm:flex-row justify-between">

                                    <div class="mb-2">
                                        <mat-chip-set *ngIf="circular.CircularType === 'Job'"
                                            class="bg-blue-600 p-1 rounded-full text-white px-2">Job</mat-chip-set>
                                        <mat-chip-set *ngIf="circular.CircularType === 'Alumni'"
                                            class="bg-orange-500 p-1 rounded-full text-white px-2">
                                            College
                                        </mat-chip-set>

                                        <mat-icon
                                            [ngStyle]="{'color': (circular.ActiveStatus) ? 'green' : 'red'}">fiber_manual_record</mat-icon>
                                    </div>

                                    <div>
                                        <button mat-stroked-button
                                            (click)="openEditJobDialog(circular)">
                                            <span class="inline-flex items-center">
                                                <ng-container>
                                                    <span>Edit</span>
                                                </ng-container>
                                                <mat-icon class="ml-1.5 icon-size-5"
                                                    [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                            </span>
                                        </button>
                                    </div>

                                </div>
                                <div class="flex">
                                    <div class="w-2/5 border-r-2 pr-4 place-self-center">
                                        <p class="font-bold">{{circular.ClientShortName}}</p>
                                        <p>{{circular.ClientName}}</p>
                                    </div>
                                    <div class="w-2/5 border-r-2 pr-4 pl-4 place-self-center">
                                        <p>{{circular.CircularTitle}}</p>
                                        <a *ngIf="circular.Url != '#'" class="cursor-pointer hover:underline mt-1"
                                            (click)="openUrlInNewTab(circular.Url)">
                                            <p class="break-all">{{circular.Url}}</p>
                                        </a>
                                    </div>
                                    <div class="w-2/5 border-r-2 pr-4 pl-4 place-self-center">
                                        <p><span class="font-bold">Start </span>{{circular.CircularOpenDate | date}}
                                        </p>
                                        <p><span class="font-bold">End </span>{{circular.CircularCloseDate | date}} </p>
                                    </div>
                                    <div class="w-2/5 border-r-2 pr-4 pl-4 place-self-center">
                                        <p><span>Total Applied: </span>{{circular.TotalApplied}}</p>
                                        <p><span>Total Amount: </span>{{circular.TotalAmount}}</p>
                                        <p *ngIf="clientData.User.ClientId == 0"><span>Total Bank Charge Amount:
                                            </span>{{circular.TotalBankChargeAmount != null ?
                                            circular.TotalBankChargeAmount : '--'}}</p>
                                    </div>

                                    <div class="w-1/5 pl-4 place-self-center px-6 py-4 text-right dark:bg-transparent">
                                        <button mat-stroked-button *ngIf="circular.Completed" (click)="viewAll()">
                                            <span class="inline-flex items-center">
                                                <ng-container>
                                                    <span>View All</span>
                                                </ng-container>
                                                <mat-icon class="ml-1.5 icon-size-5"
                                                    [svgIcon]="'heroicons_solid:arrow-sm-right'"></mat-icon>
                                            </span>
                                        </button>
                                        <button mat-stroked-button *ngIf="!circular.Completed"
                                            (click)="create(circular)">
                                            <span class="inline-flex items-center">
                                                <ng-container>
                                                    <span>Manage</span>
                                                </ng-container>
                                                <mat-icon class="ml-1.5 icon-size-5"
                                                    [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                            </span>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Loading template -->
                <ng-template #loading>
                    <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                        <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Loading...</div>
                    </div>
                </ng-template>

                <!-- No notes template -->
                <ng-template *ngIf="circularActiveFields.length == 0">
                    <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                        <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:document'"></mat-icon>
                        <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">There are no Active
                            Circulars!
                        </div>
                    </div>
                </ng-template>

            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>