.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

.scrollable-content {
  max-height: 500px;
}

.scrollable-content::-webkit-scrollbar {
    display: none;
}

.ck-editor__editable {
  min-height: 200px;
}

.my-th {
  padding-top: 0.6666667em;
  padding-right: 1em;
  padding-bottom: 0.6666667em;
}

.my-th-tl {
  padding-top: 0.6666667em;
  padding-right: 1em;
  padding-bottom: 0.6666667em;
  text-align: left;
}

.my-tr {
  border-bottom-width: 1px;
  border-bottom-color: #e2e8f0
}

.mat-simple-snackbar-action .mat-button {
  background-color: rgb(72, 236, 39) !important;
}
